<div id="first" class="section">
  <h1>Hello, <%= name %>!</h1>
  <p>You're on my first NodeJS app!</p>
</div>

<div class="section">
  <h2>Login</h2>
  <form action="/form_action" method="POST">
    <p>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"></input>
    </p>

    <input type="submit"></input>
  </form>
</div>